
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito+Sans:ital,opsz,wght@1,6..12,500&family=Roboto:ital,wght@0,100;1,700&family=Urbanist:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    
}
body {
    user-select: none;
}

ul li {
    /* top: 442px;
left: 968px;
width: 682px;
height: 330px; */
    /* UI Properties */
    /* letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072249);
text-align: left; */
list-style-type: none;
    letter-spacing: 0px;
    color: #072249;
    opacity: 1;
    font-size: 18px;
font-weight: bold;

}

ul li span {

    font: normal normal normal 18px/22px Urbanist;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

h3 {
    color: #072249;
    font: normal normal bold 30px/27px Urbanist;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 700;
}



.card {
    padding: 13px;
}

p {
    line-height: 25px;
}

img {
    width: 550px;
}



#para {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}

#para1 {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}

#para2 {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}


.dropdown {
    /* border: 2px solid #2d7bf9b6; */
    border:2px solid #79818e37;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    /* padding-right:40px; */
}

/* .dropdown:valid{
  border: 2px solid #2d7bf9b6;
  box-shadow: 1px 1px 4px 3px #2d7bf91d;
  position: relative;
  border-radius: 5px;

  } */
.icon {
    right: 30px;
    /* margin-left: 350px;
margin-top: 10px; */
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.bgg h4::before {
    margin-top: 10px;
    margin-right: 5px;
    content: '';
    padding: 5px;
    border-radius: 50%;
    height: 10px;
    width: 6px;
    background-color: #2D7BF9;
}

h5 {
    font-size: 19px;

}

.bgg {
border-radius: 10px;
    background-image: url('Groupe de masques 11@2x.png');
    height: 430px;
   background-repeat: no-repeat;
}

.section5 h4 {
    color: #072249;
    font: italic normal 600 30px/29px Urbanist;
}
.bgg h2{
    font: normal normal bold 35px/40px Urbanist;  color:#072F7E;
}
.card{
    /* border: 1px solid blueviolet; */
    border-radius:20px ;
    transition:0.5s ease-out;
    height:450px;
    position: relative;
    }
   
    .card:hover{
    border: 2px solid #2d7bf978;
    transform: scale(1.04);
    
    }
    .section3 h5{
    padding: 10px;
    
    }
    button{
    font-size: 18px;
    /* background-color: #2D7BF9; padding:10px; */
    transition: 0.5s ease-in-out;
    }
    .btn{
    font-size: 18px;
    background-color:#2d7bf9f1 
    }
    .btn:hover{
  
    background-color: #072249;
    }
    .btn:first-of-type {
        padding: 10px;
      }
    .login{
    background-color: #E0EBFE ;
    color: #68A2FF;
    font-size: 16px;
    }
    .login:hover{
    background-color: #0736872d ;
    color: #2D7BF9;
    }
    p{
        font: normal normal normal 18px/22px Urbanist;
        color: #072249;
      
    
    }
    .section2 h4 li{
    font-size: 18px;
    font: normal normal bold 18px/22px Urbanist;
    }
    .section4 h5 li{
    color: #072249; font: normal normal bold 18px/22px Urbanist;
    }
    
  
    .card a{
    
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 35%;
    }
    .section1 .circle{
    border-radius: 10px;
    width:10px;height:10px;background-color: #2D7BF9;
    }
     circle{
    border-radius: 10px;
    width:19px;height:10px;background-color: #2D7BF9;
    }
    .circle{
    margin-left: -8px;
    border-radius: 10px;
    width:12px;height:10px;background-color: #2D7BF9;
    }
    .section4 .circle{
        padding: 5px;
        width:9px;height:10px;background-color: #2D7BF9;
        }
    .nav-link:hover{
    color: #1a68e6;
    text-decoration: underline;
    }
    .nav-link{
    color: #68A2FF ;
   
    }
    
@media only screen and (max-width: 500px) {
    .bgg {
    /* margin-left: 10px;margin-right: 50px; */
     background-image: url('bgg.png');;
        background-size:cover;
        
        height: 600px;
        
        /* margin: 15px; */
        /* margin-left: 5px;
        margin-right: 5px; */
     
    }
.v{
margin-top: 180px;
/* margin-right:100px; */
}

    
 

    .bgg h4::before {
        margin-top: 8px;
        margin-right: 5px;
        content: '';
        padding: 2px;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #2D7BF9;
    }
    h3{
        font: normal normal bold 26px/32px Urbanist;
        /* text-align: center; */
     
     }
    .section5 h2{
        font: normal normal bold 26px/32px Urbanist;
        margin-top: 90px;
        margin-bottom: 30px;
     /* margin-top: 35px; */
     /* margin-left: 80px; */
     padding: 3px 20px;
     }
     .section5 h4 {
        color: #072249;
        font: normal normal normal 18px/32px Urbanist;
        
    }
    .vb{
    display: none;
    
    }
     .icon {
        right: 18px;
        /* margin-left: 350px;*/
    margin-top: 2px; 
        position: absolute;
        z-index: 10;
        cursor: pointer;
    }
    .button{
    font-size: 15px;
    width:160px;
    text-align: center;
    
padding:9px
    }
      .bgg button {
    text-align: center;
        padding: 10px;
        width: 140px;
        /* font-size: 18px;font-weight: 400; */
        font-size: 12px;
        margin-bottom: 5px;
    }
    .card h5{
        height:60px
      
    }
    .card p{
        max-height: 120px;
        font-size: 18px;
        }
        .circle{
            border-radius: 10px;
            width:15px;height:8px;background-color: #2D7BF9;
            }
            .section1 .circle{
                padding: 8px;
                
                }
            .section4 .circle{
                padding: 5px;
                width:10px;height:8px;background-color: #2D7BF9;
                }
            .login{
    display: none;
            }
            .sign_up{
                display: none;
            
            }
            .section2 .reverse{
            display: flex;
            flex-direction: column-reverse;
            
            }
            .section6 h4{
                font: normal normal bold 44px/48px Urbanist;
            }
            p{
                font: normal normal normal 18px/22px Urbanist;
            
            }
            h5{
                font: normal normal bold 18px/22px Urbanist;
            
            }
            ul li span {
                font: normal normal normal 16px/22px Urbanist;
            }
}


@media only screen and (min-width: 500px) {
    .bgg {
        background-size: cover;

    }

    .button{
        font-size: 18px;
        width:230px;
        
    padding:9px
        }
        .card h5{
            max-height:100px
          
        }
        .icon {
            right: 18px;
            /* margin-left: 350px;*/
        margin-top: 6px; 
            position: absolute;
            z-index: 10;
            cursor: pointer;
        }
        /* .card p{
            max-height: 100px;
            font-size: 18px;
            } */
        /* .card p{
            max-height: 150px;
            font-size: 18px;
            } */
            
        

}