
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito+Sans:ital,opsz,wght@1,6..12,500&family=Roboto:ital,wght@0,100;1,700&family=Urbanist:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    
}
body {
    user-select: none;
}

ul li {
    
list-style-type: none;
    
    color: #072249;
    opacity: 1;
    font: normal normal bold 18px/22px Urbanist;

}

ul li span {

    font: normal normal normal 18px/22px Urbanist;
}

h3 {
    font: normal normal bold 44px/48px Urbanist; color: #072F7E;
}



.card {
    padding: 10px;
}

.card img{
    border-radius: 20px;
}

p {
    line-height: 25px;
}

img {
    width: 550px;
}



#para {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}

#para1 {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}

#para2 {
    display: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
padding: 18px;
}


.dropdown {
    
    border:2px solid #79818e37;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
   /* width: fit-content; */
}


.icon {
    right: 30px;

    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.bgg h4::before {
    margin-top: 10px;
    margin-right: 5px;
    content: '';
    padding: 5px;
    border-radius: 50%;
    height: 10px;
    width: 6px;
    background-color: #2D7BF9;
}

/* h5 {
    font-size: 19px;

} */

.bgg {
border-radius: 10px;
    background-image: url('Groupe de masques 11@2x.png');
    height: 430px;
   background-repeat: no-repeat;
}

.section5 h4 {
    color: #072249;
    font: italic normal 600 30px/29px Urbanist;
}
.bgg h2{
    font: normal normal bold 35px/40px Urbanist;  color:#072F7E;
}
.card{
   
    border-radius:35px ;
    transition:0.5s ease-out;
    height:450px;
    /* position: relative; */
    }
   
    .card:hover{
    border: 2px solid #2d7bf978;
    transform: scale(1.04);
    
    }
    .section3 h5{
    padding: 10px;
    
    }
   
    .btn{
    font-size: 18px;
    background-color:#2d7bf9f1 ;
    font: normal normal 600 18px/21px Urbanist;
    
    }
    .btn:hover{
  
    background-color: #072249;
    }
    .btn:first-of-type {
        padding: 10px;
      }
    .login{
    background-color: #E0EBFE ;
    color: #68A2FF;
    font-size: 16px;
    }
    .login:hover{
    background-color: #0736872d ;
    color: #2D7BF9;
    }
    p{
        font: normal normal normal 18px/22px Urbanist;
        color: #072249;
      
    
    }
    .section2 h4 li{
    font-size: 18px;
    font: normal normal bold 18px/22px Urbanist;
    }
    .section4 h5 li{
    color: #072249; font: normal normal bold 18px/22px Urbanist;
    }
    
  
    .card a{
    
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 35%;
    }
    .section1 .circle{
    border-radius: 10px;margin-left: -30px;
    width:10px;height:10px;background-color: #2D7BF9;
    }
   
    .circle{
    
    border-radius: 10px;padding: 4px;
    margin-top: 7px;
    width:10px;height:11px;background-color: #2D7BF9;
    
    }
    .section4 .circle{
        margin-left: -3px;
        padding: 4px;
        margin-top:7px;
        width:10px;height:10px;background-color: #2D7BF9;
        }
    .nav-link:hover{
    color: #1a68e6;
    text-decoration: underline;
    }
    .nav-link{
    color: #68A2FF ;
   
    }
    
@media only screen and (max-width: 500px) {
    .bgg {
     background-image: url('bgg.png');;
        background-size:cover;
        /* top: 3512px; */
        margin-left: 20px;
         width: 90%;
        height: 531px;
         text-align: center;
         /* background-position: center center ; */
     border-radius: 20px;
    }
.v{
margin-top: 180px;
margin-left: 10px;
}

    
 

    .bgg h4::before {
        margin-top: 12px;
        margin-right: 5px;
        content: '';
        padding: 2px;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #2D7BF9;
    }
    h3{
        font: normal normal bold 26px/32px Urbanist;
       
        
     
     }
    .section5 h2{
        font: normal normal bold 25px/32px Urbanist;
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
     padding: 3px 20px;
     }
     .bgg h4 {
        color: #072249;
        font: normal normal normal 19px/32px Urbanist;
        width: 95%;
    }
    .buttons{
    display: none;
    
    }
     .icon {
        right: 18px;
        
    margin-top: 2px; 
        position: absolute;
        z-index: 10;
        cursor: pointer;
    }
    .button{
    font-size: 15px;
    width:160px;
    text-align: center;
    
padding:9px
    }
      .bgg button {
    text-align: center;
        padding: 10px;
        width: 140px;
        
        font-size: 12px;
        margin-bottom: 5px;
    }
    .card h5{
        height:60px
      
    }
    .card p{
        max-height: 120px;
        font-size: 18px;
        }
        .circle{
            border-radius: 10px;
            width:15px;height:10px;background-color: #2D7BF9;
            margin-left: 4px;
            padding: 2px;
            }
            .section1 .circle{
              
                margin-left: -30px;
                }
            .section4 .circle{
                margin-left: 4px;
                padding: 5px;
                width:10px;height:8px;background-color: #2D7BF9;
                }
            .login,.sign_up{
             display: none;
            }
            
            .section2 .reverse{
            display: flex;
            flex-direction: column-reverse;
            
            }
            .section6 h4{
                font: normal normal bold 44px/48px Urbanist;
            }
            p{
                font: normal normal normal 18px/22px Urbanist;
            
            }
            h5{
                font: normal normal bold 18px/22px Urbanist;
            
            }
            ul li span {
                font: normal normal normal 16px/22px Urbanist;
           
}
}

@media only screen and (min-width: 500px) {
    .bgg {
        background-size: cover;
        

    }

    
        .card h5{
            max-height:100px
          
        }
        .icon {
            right: 18px;
           
        margin-top: 6px; 
            position: absolute;
            z-index: 10;
            cursor: pointer;
        }
       
        

}