*{
padding: 0;
margin: 0;

}

ul li{
    /* top: 442px;
left: 968px;
width: 682px;
height: 330px; */
/* UI Properties */
/* letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072249);
text-align: left; */
letter-spacing: 0px;
color: #072249;
opacity: 1;
font-size:17px;


}
ul li span{
    font: normal normal normal 18px/22px Urbanist;
/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
  h3{
    color:#072249 ;font: normal normal bold 30px/27px Urbanist;letter-spacing: 1px;line-height: 35px;}
    h4{
    color:#072249;
    font-size: 27px;
    }
.card{
    padding: 13px;
    }
    p{
    line-height: 25px;
    }
    img{
    width:550px;}
    .section5 h4{
       font-size: 28px;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: 500;
    
    }
  #para{
  display: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
  
  }
  #para1{
  display: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
  
  }
  #para2{
  display: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.096);
  
  }
  
 
  .dropdown{
  border: 2px solid #2d7bf9b6;
  box-shadow: 1px 1px 2px 1px #2d7bf91d;
  position: relative;
  border-radius: 5px;
cursor: pointer;
/* padding-right:40px; */
  }
  /* .dropdown:valid{
  border: 2px solid #2d7bf9b6;
  box-shadow: 1px 1px 4px 3px #2d7bf91d;
  position: relative;
  border-radius: 5px;

  } */
  .icon {
    right:20px;
  /* margin-left: 350px;
margin-top: 10px; */
    position: absolute;
    z-index: 10;
    cursor: pointer;
    }
    .section5 h4::before{
    margin-top: 10px;
    margin-right: 5px;
    content: '';
    padding: 5px;
    border-radius: 50%;
    height:10px;width:6px;
    background-color: #2D7BF9;
    }
    h5{
    font-size: 19px;
    
    }
    .bgg{
    
       background-image: url('Groupe de masques 11@2x.png');height:430px;background-repeat: no-repeat; 
    }
    .section5 h4{
    color:#072249 ;
    
    }
    @media only screen and (max-width: 500px) {
        .bgg {
            background-size: 390px;height: 230px;
            /* margin: 15px; */
        }
        /* body {
            background-color: aquamarine;
        } */
        .bgg h2{
            font-size: 13px;
            /* width:160px; */
            
            }
        .bgg h4{
            font-size: 13px;
            }
            .bgg button{
            font-size: 10px;
            padding: 5px;
            margin-bottom: 12px;
            
            }
            .section5 h4::before{
                margin-top: 5px;
                margin-right: 5px;
                content: '';
                padding: 2px;
                border-radius: 50%;
                height:2px;width:2px;
                background-color: #2D7BF9;
                }
    }
    
    @media only screen and (min-width: 501px) {
        .bgg {
            background-size: cover;
            
        }
        .bgg button{
        padding: 12px;
        font-size: 15px;
        
        }
     
        
    }
   